.mail-sent {
  i {
    color: #4caf50;
    font-size: 30px;
    border: 2px solid;
    border-radius: 31px;
    padding: 6px;
  }
  p {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 16px;
  }
}
