<app-blog-header></app-blog-header>
<div class="container-fluid bg-grey vh-100">
  <div class="row">
    <div class="container">
      <div class="row">
        <!-- privacy -->
        <div *ngIf="type==='privacy'" class="col-md-8 col-md-offset-2 policy">
          <div class="content">
            <p class=" heading">Privacy Policy</p>
            <p class="robo-reg-14  para">
              Truehalf is a flagship website of Vicezetes Limited located at 116 Lagos Road, Haruna, Ikorodu Lagos, Nigeria. It is Truehalf’s
              policy to respect your privacy regarding any information we may collect while operating our website. This Privacy
              Policy applies to www.truehalf.com (hereinafter, "us", "we", or "www.truehalf.com"). We respect your privacy
              and are committed to protecting personally identifiable information you may provide us through the Website.
              We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our
              Website, how we use this information, and under what circumstances we may disclose the information to third
              parties. This Privacy Policy applies only to information we collect through the Website and does not apply
              to our collection of information from other sources. This Privacy Policy, together with the Terms and conditions
              posted on our Website, set forth the general rules and policies governing your use of our Website. Depending
              on your activities when visiting our Website, you may be required to agree to additional terms and conditions.
            </p>
          </div>
          <div class="content">
            <p class=" heading">Website Visitors</p>
            <p class="robo-reg-14  para">Like most website operators, Truehalf collects non-personally-identifying information of the sort that web browsers
              and servers typically make available, such as the browser type, language preference, referring site, the date
              and time of each visitor request. Truehalf’s purpose in collecting non-personally identifying information is
              to better understand how Truehalf’s visitors use its website. From time to time, Truehalf may release non-personally-identifying
              information in the aggregate, e.g., by publishing a report on trends in the usage of its website. Truehalf
              also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged
              in users and for users leaving comments on http://www.truehalf.com blog posts. Truehalf only discloses logged
              in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying
              information as described below.
            </p>
          </div>
          <div class="content">
            <p class=" heading">Gathering of Personally-Identifying Information</p>
            <p class="robo-reg-14  para">
              Certain visitors to Truehalf’s websites choose to interact with Truehalf in ways that require Truehalf to gather personally-identifying
              information. The amount and type of information that Truehalf gathers depends on the nature of the interaction.
              For example, we ask subscribers who sign up at http://www.truehalf.com to provide a username and email address.
            </p>
          </div>
          <div class="content">
            <p class=" heading">Security</p>
            <p class="robo-reg-14  para">
              The security of your Personal Information is important to us but remember that no method of transmission over the Internet,
              or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect
              your Personal Information, we cannot guarantee its absolute security.
            </p>
          </div>
          <div class="content">
            <p class=" heading">Advertisements</p>
            <p class="robo-reg-14  para">
              Adverts appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow
              the advert server to recognize your computer each time they send you an online advertisement to compile information
              about you or others who use your computer. This information allows advert networks to, among other things,
              deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers
              the use of cookies by Truehalf and does not cover the use of cookies by any advertisers.
            </p>
          </div>
          <div class="content">
            <p class=" heading">Links to External Sites</p>
            <p class="robo-reg-14  para">
              Our Service may contain links to external sites that are not operated by us. If you click on a third-party link, you will
              be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions
              of every site you visit. We have no control over, and assume no responsibility for the content, privacy policies
              or practices of any third-party sites, products or services.
            </p>
          </div>
          <div class="content">
            <p class=" heading">Protection of Certain Personally-Identifying Information</p>
            <p class="robo-reg-14  para">
              Truehalf discloses potentially personally-identifying and personally-identifying information only to those of its employees,
              contractors and affiliated organizations that
            </p>
            <div class="inner">
              <ul class="list-unstyled">
                <li class="robo-reg-14  para">need to know that information to process it on Truehalf’s behalf or to provide services available at Truehalf’s
                  website, and
                </li>
                <li class="robo-reg-14  para">Have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations
                  may be located outside of your home country; by using Truehalf’s website, you consent to the transfer of
                  such information to them. </li>
              </ul>
            </div>
            <p class="robo-reg-14  para">
              Truehalf will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other
              than to its employees, contractors and affiliated organizations, as described above, Truehalf discloses potentially
              personally-identifying and personally-identifying information only in response to a subpoena, court order or
              other governmental request, or when Truehalf believes in good faith that disclosure is reasonably necessary
              to protect the property or rights of Truehalf, third parties or the public at large.
            </p>
            <p class="robo-reg-14  para">
              If you are a registered user of http://www.truehalf.com and have supplied your email address, Truehalf may occasionally send
              you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s
              going on with Truehalf and our products. We primarily use our blog to communicate this type of information,
              so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email
              or via one of our feedback mechanisms), we reserve the right to publish it to help us clarify or respond to
              your request or to help us support other users. Truehalf takes all measures reasonably necessary to protect
              against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying
              information.
            </p>
          </div>
          <div class="content">
            <p class=" heading">
              Aggregated Statistics </p>
            <p class="robo-reg-14 para">
              Truehalf may collect statistics about the behavior of visitors to its website. Truehalf may display this information publicly
              or provide it to others. However, Truehalf does not disclose your personally-identifying information.
            </p>
          </div>
          <div class="content">
            <p class=" heading">
              Cookies
            </p>
            <p class="robo-reg-14 para">
              To enrich and perfect your online experience, Truehalf uses "Cookies", similar technologies and services provided by others
              to display personalized content, appropriate advertising and store your preferences on your computer. A cookie
              is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides
              to the website each time the visitor returns. Truehalf uses cookies to help Truehalf identify and track visitors,
              their usage of http://www.truehalf.com, and their website access preferences. Truehalf visitors who do not
              wish to have cookies placed on their computers should set their browsers to refuse cookies before using Truehalf’s
              websites, with the drawback that certain features of Truehalf’s websites may not function properly without
              the aid of cookies. By continuing to navigate our website without changing your cookie settings, you hereby
              acknowledge and agree to Truehalf's use of cookies.
            </p>
          </div>
          <div class="content">
            <p class=" heading">
              Business Transfers
            </p>
            <p class="robo-reg-14 para">
              If Truehalf, or substantially all its assets, were acquired, or in the unlikely event that Truehalf goes out of business
              or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third
              party. You acknowledge that such transfers may occur, and that any acquirer of Truehalf may continue to use
              your personal information as set forth in this policy.
            </p>
          </div>
          <div class="content">
            <p class=" heading">
              Privacy Policy Changes
            </p>
            <p class="robo-reg-14 para">
              Although most changes are likely to be minor, Truehalf may change its Privacy Policy from time to time, and in Truehalf’s
              sole discretion. Truehalf encourages visitors to frequently check this page for any changes to its Privacy
              Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance
              of such.
            </p>
          </div>
        </div>
        <!-- terms and conditions -->
        <div *ngIf="type==='terms'" class="col-md-8 col-md-offset-2 policy">
          <div class="content">
            <p class=" heading">
              Terms &amp; Conditions
            </p>
            <p class="robo-reg-14 para">
              These terms and conditions outline the rules and regulations for the use of Truehalf Website.  Truehalf is a flagship website
              of a diverse Company, Vicezetes Limited located at 116 Lagos Road Haruna, Ikorodu Lagos, Nigeria.
              <br> By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use Truehalf if
              you do not accept all the terms and conditions stated on this page.
            </p>
            <p class="robo-reg-14 para">The following terminology applies to these
              <br>
              <strong class="dark">
                Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements:
              </strong>
            </p>
            <p class="robo-reg-14 para">
              “Client”, “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions.
            </p>
            <p class="robo-reg-14 para">
              “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the
              Client and ourselves, or either the Client or ourselves.
            </p>
            <p class="robo-reg-14 para">
              All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance
              to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other
              means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated
              services/products, in accordance with and subject to, prevailing law of Federal Republic of Nigeria. Any use
              of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are
              taken as interchangeable and therefore as referring to same.
            </p>
          </div>
          <div class="content">
            <p class=" heading">Cookies</p>
            <p class="robo-reg-14 para">
              We employ the use of cookies. By using Truehalf website you consent to the use of cookies in accordance with Truehalf privacy policy.
              Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit.
              Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those
              people visiting. Some of our affiliate / advertising partners may also use cookies.
            </p>
          </div>
          <div class="content">
            <p class=" heading">
              License
            </p>
            <p class="robo-reg-14 para">
              Unless otherwise stated, Truehalf and/or its licensors own the intellectual property rights for all material on Truehalf.
              All intellectual property rights are reserved. You may view and/or print pages from http://www.truehalf.com
              for your own personal use subject to restrictions set in these terms and conditions.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18">You must not:</p>
            <ul>
              <li class="robo-reg-14 para">
                Republish material from http://www.truehalf.com
              </li>
              <li class="robo-reg-14 para">
                Sell, rent or sub-license material from http://www.truehalf.com
              </li>
              <li class="robo-reg-14 para">
                Reproduce, duplicate or copy material from http://www.truehalf.com
              </li>
              <li class="robo-reg-14 para">
                Redistribute content from Truehalf (unless content is specifically made for redistribution).
              </li>
            </ul>
          </div>
          <div class="content">
            <p class=" heading">
              User Comments
            </p>
            <p class="robo-reg-14 para">
              This Agreement shall begin on the date hereof. Certain parts of this website offer the opportunity for users to post and
              exchange opinions, information, material and data ('Comments') in areas of the website. Truehalf does not screen,
              edit, publish or review Comments prior to their appearance on the website and Comments do not reflect the views
              or opinions of Truehalf, its agents or affiliates. Comments reflect the view and opinion of the person who
              posts such view or opinion.
            </p>
            <p class="robo-reg-14 para">
              To the extent permitted by applicable laws, Truehalf shall not be responsible or liable for the comments or for any loss
              cost, liability, damages or expenses caused and or suffered because of any use of and/or posting of and/or
              appearance of the Comments on this website.
            </p>
            <p class="robo-reg-14 para">
              Truehalf reserves the right to monitor all Comments and to remove any Comments which it considers in its absolute discretion
              to be inappropriate, offensive or otherwise in breach of these Terms and Conditions.
            </p>
          </div>
          <div class="content">
            <p class="heading ">
              You warrant and represent that:
            </p>
            <ul>
              <li class="robo-reg-14 para">
                You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
              </li>
              <li class="robo-reg-14 para">
                The Comments do not infringe any intellectual property right, including without limitation copyright, patent or trademark,
                or other proprietary right of any third party.
              </li>
              <li class="robo-reg-14 para">
                The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material or material which
                may result in an invasion of privacy.
              </li>
              <li class="robo-reg-14 para">
                The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.
              </li>
            </ul>
            <p class="robo-reg-14 para grey mt-10">
              <strong>
                You hereby grant to Truehalf a non-exclusive royalty-free license to use, reproduce, edit and authorize others to use, reproduce
                and edit any of your Comments in any and all forms, formats or media.
              </strong>
            </p>

          </div>
          <div class="content">
            <p class=" heading">
              Hyperlinking to our Content
            </p>
            <p class="robo-reg-14 para">
              The following organizations may link to our Web site without prior written approval:
            </p>
            <ul>
              <li class="robo-reg-14 para">
                Government agencies
              </li>
              <li class="robo-reg-14 para">
                Search engines
              </li>
              <li class="robo-reg-14 para">
                News organizations;
              </li>
            </ul>
            <p class="robo-reg-14 para">
              Online directory distributors when they list us in the directory may link to our Web site in the same manner as they hyperlink
              to the Web sites of other listed businesses; and Systemwide Accredited Businesses except soliciting non-profit
              organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.
            </p>
            <p class="robo-reg-14 para">
              <strong class="dark-grey">
                These organizations may link to our home page, to publications or to other Web site information so long as the link:
              </strong>
            </p>
            <ul>
              <li class="robo-reg-14 para"> Is not in any way misleading</li>
              <li class="robo-reg-14 para">Does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services</li>
              <li class="robo-reg-14 para">Fits within the context of the linking party's site.</li>
            </ul>
            <p class="robo-reg-14 para">
              <strong class="dark-grey">
                We may consider and approve in our sole discretion other link requests from the following types of organizations:
              </strong>
            </p>
            <ul>
              <li class="robo-reg-14 para">commonly-known consumer and/or business information sources,</li>
              <li class="robo-reg-14 para">dot.com community sites</li>
              <li class="robo-reg-14 para">associations or other groups representing charities</li>
              <li class="robo-reg-14 para">online directory distributors</li>
              <li class="robo-reg-14 para">internet portals</li>
              <li class="robo-reg-14 para">data analyzing</li>
              <li class="robo-reg-14 para">vii. Law and consulting firms whose primary clients are businesses, and educational institutions.</li>
            </ul>
            <p class="robo-reg-14 para">
              <strong class="dark-grey">
                We will approve link requests from these organizations if we determine that:
              </strong>
            </p>
            <ul>
              <li class="robo-reg-14 para">
                The link would not reflect unfavorably on us or our accredited businesses (for example, trade associations or other organizations
                representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
              </li>
              <li class="robo-reg-14 para">
                The organization does not have an unsatisfactory record with us
              </li>
              <li class="robo-reg-14 para">
                The benefit to us from the visibility associated with the hyperlink outweighs the absence of
              </li>
              <li class="robo-rag-14 para">
                Where the link is in the context of general resource information or is otherwise consistent with editorial content in a newsletter
                or similar product furthering the mission of the organization.
              </li>
            </ul>
            <p class="robo-reg-14 para">
              <strong class="dark-grey">
                These organizations may link to our home page, to publications or to other Web site information so long as the link:
              </strong>
            </p>
            <ul>
              <li class="robo-reg-14 para">
                Is not in any way misleading.
              </li>
              <li class="robo-reg-14 para">
                Does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services.
              </li>
              <li class="robo-reg-14 para">
                Fits within the context of the linking party's site.
              </li>
            </ul>
            <p class="robo-reg-14 para">
              If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you must notify
              us by sending an e-mail to
              <strong>support@truehalf.com</strong>. Please include your name, your organization name, contact information (such
              as a phone number and/or e-mail address) as well as the URL of your site, a list of any URLs from which you
              intend to link to our Web site, and a list of the URL(s) on our site to which you would like to link. Allow
              2-3 weeks for a response.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18 dark-grey">
              Approved organizations may hyperlink to our Web site as follows:
            </p>
            <p class="robo-reg-14 para">
              By use of our corporate name; or by use of the uniform resource locator (Web address) being linked to; or by use of any other
              description of our Web site or material being linked to that makes sense within the context and format of content
              on the linking party's site. No use of Truehalf’s logo or other artwork will be allowed for linking absent
              a trademark license agreement.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18 dark-grey">
              iframes
            </p>
            <p class="robo-reg-14 para">
              Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques
              that alter in any way the visual presentation or appearance of our Web site.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18 dark-grey">
              Reservation of Rights
            </p>
            <p class="robo-reg-14 para">
              We reserve the right at any time and in its sole discretion to request that you remove all links or any link to our Web site.
              You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend
              these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you agree
              to be bound to and abide by these linking terms and conditions.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18 dark-grey">
              Removal of links from our website
            </p>
            <p class="robo-reg-14 para">
              If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this.
              We will consider requests to remove links but will have no obligation to do so or to respond directly to you.
            </p>
            <p class="robo-reg-14 para">
              Whilst we endeavor to ensure that the information on this website is correct, we do not warrant its completeness or accuracy;
              nor do we commit to ensuring that the website remains available or that the material on the website is kept
              up to date.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18 dark-grey">
              Content Liability
            </p>
            <p class="robo-reg-14 para">
              We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend
              us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your
              Web site or within any context containing content or materials that may be interpreted as libelous, obscene
              or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any
              third-party rights.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18 dark-grey">
              Disclaimer
            </p>
            <p class="robo-reg-14 para">
              To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to
              our website and the use of this website (including, without limitation, any warranties implied by law in respect
              of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this
              disclaimer will: limit or exclude our or your liability for death or personal injury resulting from negligence;
              limit or exclude our or your liability for fraud or fraudulent misrepresentation; limit any of our or your
              liabilities in any way that is not permitted under applicable law; or exclude any of our or your liabilities
              that may not be excluded under applicable law.
            </p>
            <p class="robo-reg-14 para">
              <strong>
                The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer:

              </strong>
            </p>
            <ul>
              <li class="robo-reg-14 para">are subject to the preceding paragraph</li>
              <li class="robo-reg-14 para">govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer,
                including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty</li>
            </ul>

            <p class="robo-reg-14 para">
              To the extent that the website and the information and services on the website are provided free of charge, we will not be
              liable for any loss or damage of any nature.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18 dark-grey">Credit & Contact Information</p>
            <p class="robo-reg-14 para">If you have any queries regarding any of our terms, please contact us.</p>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 policy" *ngIf="type==='contact'">
          <div class="content">
            <p class="heading">
              Contact us
            </p>
            <p class="robo-reg-16 grey">Please login
              <a href="login">Click here</a>
            </p>
            <p class="robo-reg-16 grey">Forgot password
              <a class="pointer" (click)="openDialog()">Click here</a>
            </p>
            <p class="robo-reg-16 grey">Have your login details but cannot login?
              <a class="pointer" (click)="openContact()">Click here</a>
            </p>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 policy" *ngIf="type==='tips'">
          <div class="content">
            <img src="assets/img/online-dating-tips.jpg" alt="" class="img-responsive">
            <p class="heading mt-10">
              Dating tips
            </p>
            <p class="robo-reg-14 para">
              Online dating – it’s scary, and all the sites are populated by young lads who still live with their parents and collect toe-nail
              clippings, right? Wrong. Online dating is one of the fastest and efficient growing ways to find love, and in
              Nigeria alone, over 10 million people have tried Online dating
            </p>
            <p class="robo-reg-14 para">
              Singles of every age, from every walk of life are trying online dating, and if you’re reading this maybe you’re thinking
              it’s time for you to look in the internet for love too. But, once you’ve decided which site is right for you
              –if you’re here perhaps you’re planning on signing up at Truehalf you might be at a loss as what to do next.
              In that case, you’ve come to the right place. Here’s our top online dating advice for everyone.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">Tip 1: Make time for internet dating </p>
            <p class="robo-reg-14 para">
              Firstly, the bad news: Online dating is not a quick solution. It’s highly unlikely (though we admit not completely impossible)
              that you’ll meet the man or woman of your dreams on the first Day. You’ll need time – time to fill out your
              profile, to read member profiles, and to relate with other members. But, the more you put in, the more you’ll
              get out of the process.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">
              Tip 2: Engage a friend
            </p>
            <p class="robo-reg-14 para">
              Share your online dating adventures with a friend, and if they’re single get them to join your search for love over the internet.
              After all, it’s great to have someone to share the good (and bad!) bits with. Think online dating is embarrassing?
              Remember you’re joining a pretty big club of over 10 million people you’re not alone! It’s just another way
              to meet new people nothing to be embarrassed about.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">
              Tip 3: Market yourself in your profile
            </p>
            <p class="robo-reg-14 para">
              Your profile is vital. We recommend you spend at least a couple of hours filling this out trust us, it’ll save you a lot
              more time in the long run. By making your profile a true representation of you, you’ll filter out more time-wasters
              right from the start. Make it original too; we cannot tell you the number of profiles that say something like
              ‘I love keeping active’. Great, but doing what? Be specific to give your profile some colour. If you’re stuck
              for something original to say, ask a friend for their view of you, you’ll find it eye-opening!
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">
              Tip 4: Post a photo gallery
            </p>
            <p class="robo-reg-14 para">
              First off, photos are crucial. Most people want to see who they’re talking to, before they agree to meet each other it’s
              just human nature. Secondly, don’t just post one photo, post a selection that shows your personality. Anything
              from you with your family to enjoying your favourite pastime will do. If you’re nervous of posting a photo
              for privacy reasons, remember that Truehalf only shows your profile to people who they believe are your perfect
              half. And of course, if you’re still anxious, you can choose not to post a photo, it’s totally up to you.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">
              Tip 5: Be open minded
            </p>
            <p class="robo-reg-14 para">
              If you’re coming to online dating with a shopping list for your ideal man/woman you’ve got the wrong end of the stick. Yes,
              online dating gives you access to thousands of people you’d never meet in everyday life, and yes you can usually
              filter them down based on your own personal preferences. But, if this is about a new start for you, then it’s
              a great opportunity for you to think about what’s really important in a partner. For example, if you’ve always
              gone for powerful women or men in the past, ask yourself whether you really want to repeat that pattern.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">
              Tip 6: Stay safe
            </p>
            <p class="robo-reg-14 para">
              Online Dating is no more or less safe than the outside world. That said, don’t allow yourself to be lulled into a false sense
              of security just because you’re sat behind a computer screen or your mobile device, think carefully before
              giving someone your personal details such as your mobile number.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">
              Tip 7: Have the courage to move offline
            </p>
            <p class="robo-reg-14 para">
              Online dating allows you to access a pool of people you’d never normally have the chance to meet. And in the case of Truehalf
              matches you up with other compatible members, to ensure that when you do meet you’ll have a great basis for
              a relationship. But with online dating it’s important to think beyond the internet. Once you’ve established
              a bond with someone, suggest meeting offline sooner rather than later. Too many people make the mistake of
              talking with a match online for months, only to see the communication cease. After all, meeting in person is
              what you’re both there for!
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">
              Tip 8: Remember it’s part of a bigger picture
            </p>
            <p class="robo-reg-14 para">
              As we said right at the start, Online dating is no quick solution. It is, in its simplest form, a great way to get connected
              with people you otherwise wouldn’t meet. That said, it shouldn’t be a substitute for meeting new people in
              real life. If you’re too nervous or lacking in self-esteem to meet people in the big wide world, meeting people
              online will only get you so far. After all, that’s what you’re here for isn’t it?
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-16 dark-grey">
              Tip 9: Enjoy!
            </p>
            <p class="robo-reg-14 para">
              If you’re not having some fun, you’re doing it wrong. True, online dating requires a thick skin, just like real life. You
              might be surprised how you react when someone doesn’t reply to your message, or does a disappearing act after
              you’ve spent time getting to know each other. But, just as you would in real life, pick yourself up, dust yourself
              off and push on.  Enjoy yourself
            </p>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 policy" *ngIf="type==='about'">
          <div class="content">
            <p class="heading">
              We finally have a dating site that caters to the elites!
            </p>
            <p class="robo-reg-14 para">
              We understand that in this age and time, we find ourselves living in busy cities saddled with so much day to day tasks. We
              get so busy that we sometimes neglect our own social life. TrueHalf aims to bridge this gap in the most pleasurable
              and convenient manner. TrueHalf is designed to help you reach your true companion, just at your fingertips.
            </p>
            <p class="robo-reg-14 para">
              We are aware that there may be some meeting platforms already but at TrueHalf, we understand the need to create a distinct
              platform for select professionals, students, entrepreneurs, celebrities and even Nigerians in diaspora. Truehalf
              creates an entirely unique community of people with great minds, similar interests and even unique differences.
            </p>
            <p class="robo-reg-14 para">
              Our desire at TrueHalf is to match people beyond boundaries of the world and connect even next-door neighbors who wouldn't
              have had a chance to get to know one another. Every day we look forward to receiving new testimonials from
              our happy members as they find friends, companions and even ignite their love lives.
            </p>
            <p class="robo-reg-14 para">
              We do not consider ours as just a dating site but a community that wouldn't be complete without your membership. This is
              truly a dating site created with you in mind!
            </p>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 policy" *ngIf="type==='safety'">
          <div class="content">
            <p class="heading">
              Online dating safety tips
            </p>
            <div class="row">
              <div class="col-md-8">
                <p class="robo-reg-14 para"> The vast majority of people using dating sites are sincere and honest in the information they provide and
                  in their reasons for joining. However, there are exceptions, and you need to be aware of how to keep yourself
                  - and your bank account and savings - protected while meeting people online.</p>
              </div>
              <div class="col-md-4">
                <img style="width:110px;" src="assets/img/safety-1.png" alt="" class="img-responsive">
              </div>
            </div>
            <p class="robo-reg-14 para">
              Personal safety when meeting someone in person who you met online. Stalking and harassment.
              <br> Fraud, when people appeal appeal to your better nature to help them out of an 'unfortunate situation' by sending
              money.
              <br> People masquerading as somebody who they are not. Spam , selling or fraud, especially romance fraud.
              <br>Webcam blackmail, where fraudsters record things you may do in front of your webcam then use the recording
              to extort money. Phishing emails claiming to be from an online dating site and encouraging you to divulge personal
              information.
              <br> Being defrauded by using websites posing as authentic dating sites. Potential theft of your money if you do
              not use a secure link when making payments.
              <br>Using certain dishonest dating sites that: Set up 'pseudo' or fake profiles where the person you think you
              have met is actually employed by the site to keep you hanging on ... and paying money Stop sending you contacts
              and messages as soon as you have paid the fee to receive them.
            </p>
          </div>
          <div class="content">
            <p class="ral-bold-18">
              Creating your online dating profile: protect your identity and personal information
            </p>
            <p class="ral-bold-16">
              Be Anonymous
            </p>
            <p class="robo-reg-14 para">
              - Choose a username that doesn’t let everyone know who you are. Don't include your surname or any other identifying information
              such as your place of work either in your profile or when you first make contact. - Remember that overtly sexual,
              provocative or controversial usernames could attract the wrong kind of attention.
              <br> - Remember that overtly sexual, provocative or controversial usernames could attract the wrong kind of attention.
              <br> - Keep contact details private. Stay in control when it comes to how and when you share information. Don't
              include your contact information such as your email address, home address, or phone number in your profile or
              initial communications. Take things slowly and share more information when you feel comfortable doing so. It
              is impossible to get back information once you have given it away.
              <br> - Stop communicating with anyone who attempts to pressure you into providing your personal or financial information
              or who seems to be trying to trick you into providing it. If this happens contact the dating provider immediately
              to not only protect yourself but other users too.
            </p>
            <p class="ral-bold-16">
              Password &amp; Security
            </p>
            <p class="robo-reg-14 para">
              - Be careful when accessing your account from a public or shared computer so that others can't view or record your password
              or personal information.
              <br> - Be wary of opening email attachments from someone you have only just met
              <br> - Ensure that you keep your internet security software up to date.
            </p>
            <p class="ral-bold-16">
              Connecting With New People Online
            </p>
            <p class="robo-reg-14 para">
              Get to know people, take your time and trust your instincts. Act with caution and learn more about someone before contacting
              him or her outside of the dating site. Dating services run mail and chat so you can get to know people in a
              safer and [monitored/controlled] way. They do it to protect you, not to make money. Use their platform and
              the added security it gives. If and when you do decide to share an e-mail address think about creating a separate
              and anonymous email address.
            </p>
            <p class="ral-bold-16">
              Take Your Time
            </p>
            <p class="robo-reg-14 para">
              - Sometimes when you're excited about someone, your instincts can be confused by strong feelings. Take care and take your
              time when you talk about yourself. You don’t need to give out your life-story the first time you chat – and
              you shouldn’t. There will be plenty of time to share such details if your relationship develops.
            </p>
            <p class="ral-bold-16">
              Be Responsible and do your own Research
            </p>
            <p class="robo-reg-14 para">
              - There is a limit to an online dating provider’s ability to check the backgrounds of users and verify the information they
              provide. They cannot do a criminal records check on every user. And a person can become a problem without having
              a record. Therefore, don't get a false sense of security because you're on a dating site; do your own research
              to learn more about someone and make informed decisions before you decide to meet. Check to see if the person
              you're interested in is on other social networking sites like Facebook, do a web search to see if there are
              other records of the person online, and if possible use google image search to check the profile photos.
            </p>
            <p class="ral-bold-16">
              Money Requests Are Your Red Light
            </p>
            <p class="robo-reg-14 para">
              - Why would someone need to borrow money off somebody they have never met, or only just met? There is no reason for anyone
              to ask you for money or your financial information, whatever sad or sob story they give. Always keep your bank
              and account information private. Stop all contact immediately and report the matter to the dating site.
            </p>
            <p class="ral-bold-16">
              Report Unacceptable or Suspicious Behaviour
            </p>
            <p class="robo-reg-14 para">
              - Nobody should have to put up with offensive, insulting and threatening behaviour online any more than they should or would
              if talking to someone in a bar or café. Trust your instincts and immediately stop communicating with anyone
              who makes you feel uncomfortable or apprehensive. Never feel embarrassed to report a problem to the dating
              service. You are helping them and doing other users a favour.
            </p>
            <p class="ral-bold-16">
              Play it safe when you meet face-to-face
            </p>
            <p class="robo-reg-14 para">
              Be smart and stay safe. Going on a date with someone new is an exciting step in a relationship, but continue being careful.
              Even if you feel you have become closer to someone via email and phone, you should still remember that this
              person is largely a stranger to you. Therefore it is important that when meeting someone in person, whether
              it is your first or fifth date, you take precautions and consider these dos and don'ts.
            </p>
            <p class="ral-bold-16">
              1. Plan it. Say it. Do it.
            </p>
            <p class="robo-reg-14 para">
              It’s your date.  Agree on what you both want from it before you meet up. Don’t feel pressured to meet before you’re ready
              or for any longer than you’re comfortable with – a short first date is fine.
            </p>
            <p class="ral-bold-16">
              2. Meet in public. Stay in public.
            </p>
            <p class="robo-reg-14 para">
              The safest plan is to meet somewhere public and stay somewhere public.  . Make your own way there and back and don’t feel
              pressured to go home with your date.  If you feel ready to move to a private environment, make sure your expectations
              match your date’s.
            </p>
            <p class="ral-bold-16">
              3. Get to know the person, not the profile.
            </p>
            <p class="robo-reg-14 para">
              The way people interact online isn’t always the same face-to-face. Don’t be offended if your date is more guarded when meeting
              in person. or if things don’t progress as fast face-to-face.
            </p>
            <p class="ral-bold-16">
              4. Not going well? Make your excuses and leave.
            </p>
            <p class="robo-reg-14 para">
              Don’t feel bad about cutting a date short if you’re not keen. You don’t owe the other person anything, no matter how long
              you’ve been chatting or what’s been suggested
            </p>
          </div>
          <div class="content">
            <p class="heading">
              Avoiding Scammers
            </p>
            <p class="robo-reg-14 para">
              Sadly, people aren't always what they seem. Dating sites, social networks and other internet services are targeted by scammers.
              Scammers want one thing and one thing only – money. Here are a few examples of common scammer behaviours to
              watch out for and report:
            </p>
            <p class="para">
              <span class="robo-med-14 dark-grey">1. Declarations of love </span>
              <span class="robo-reg-14">
                - If someone you are in contact with starts declaring their love for you within a matter of weeks (or even days or hours),
                be cautious. You need to know someone to come to love them. Instant messages of love could be someone trying
                to get right into your life, possibly for all the wrong reasons. Use common sense and don’t be afraid to
                speak to a friend to get a second opinion.
              </span>
            </p>
            <p class="para">
              <span class="robo-med-14 dark-grey">2. Requests for money </span>
              <span class="robo-reg-14">
                - This really should send alarm bells ringing whatever the form the request comes in. Scammers will look to gain your sympathy
                with the stories they tell.
              </span>
            </p>
            <p class="para">
              <span class="robo-med-14 dark-grey">3. Someone offering you money</span>
              <span class="robo-reg-14">
                - Who gives money away to strangers through a dating site? These are always scams. The same goes for anyone with a sure-fire
                get rich quick schemes. The only one trying to get rich quick is the scammer as he or she fishes for your
                bank details or other financial information.
              </span>
            </p>
            <p class="para">
              <span class="robo-med-14 dark-grey">4. Threats and blackmail </span>
              <span class="robo-reg-14">
                - These are ugly words. But some scammers have tried to threaten money out of people for not showing pictures, webcam footage
                or messages that they have managed to get out of users online.
              </span>
            </p>

          </div>
          <div class="content">
            <p class="heading">
              <i>
                Advice for avoiding scammers
              </i>
            </p>
            <div class="para">
              <p>
                <i>
                  - Never ever respond to a request for money.
                </i>
              </p>
              <p>
                <i>
                  - Never give out bank account or other details.
                </i>
              </p>
              <p>
                <i>
                  - Beware of the sob story - someone telling you how much they want to visit you but need a loan to pay for the ticket/visas.
                  Or stories about a desperately ill family member who needs help with medical expenses.

                </i>
              </p>
              <p>
                <i>
                  - The same goes for fantastic too good to be true business deal they are in on – if only they had some extra up-front money.
                </i>
              </p>
              <p>
                <i>
                  - Watch out for those profiles that immediately tug on heart strings – supposed ex-serviceman or woman, or those who claim
                  to be recently widowed to gain your trust and sympathy.
                </i>
              </p>
              <p>
                <i>
                  - Don’t let the passing of time cloud your judgment. These sorts of pitches may take time to come out in messages, time in
                  which you may very well have come to trust and value a relationship with your online contact. That does
                  not make them any less of a lie.
                </i>
              </p>
              <p>
                <i>
                  - Our same warning goes for pleas of urgency – about money needed at short notice. Someone asking you to use a wire service
                  to get money to them is up to no good.
                </i>
              </p>
              <p>
                <i>
                  - Be wary of long distance and overseas relationships: They can happen but it is an unlikely way for a relationship to start
                  offline so be wary online.
                </i>
              </p>
              <p>
                <i>
                  - Notice if a contact seems out of touch or out of kilter: people offering foreign numbers for contact, people who seem not
                  to be aware of things happening in the country– events, the weather etc, people who want or need to send
                  messages at unusual hours.
                </i>
              </p>
              <p>
                <i>
                  - Be wary if someone seems vague in their communication about their interests, or may often repeat things or seem disconnected.
                  They may dodge questions or make excuses for not meeting or speaking on the telephone. Their profile or
                  communications may also have odd spelling and grammar.
                </i>
              </p>
              <p>
                <i>
                  - Do not share pictures or information about yourself or others that gives someone any sort of hold over you. Your private
                  life should stay private until you know someone really well and can start over time to trust them with
                  things.
                </i>
              </p>
              <p>
                <i>
                  - If you do find someone trying to menace money out of you – don’t. They’d just be back for more. Report them; however bad
                  that might feel at the time. The Police have national and local teams there to attack fraudsters. Let them
                  protect you – and others.
                </i>
              </p>
              <p>
                <i>
                  - Don’t be afraid to ask a friend – if you start to commit to a relationship online or in person it can be hard to stay objective.
                  If a contact starts to feel strange and especially if money gets raised you might ask a friend or relative
                  if you are not at a point where you think there is something to report to the dating service. If they advise
                  you to back off ... listen to them.
                </i>
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 policy" *ngIf="type==='help'">
          <div id='tawk_5a8ea6f14b401e45400d1f53' #abcd></div>


          <!-- <a class="btn btn-lg btn-primary" role="button" (click)="setStyle()">button</a> -->

        </div>
      </div>
    </div>
  </div>
</div>
