.card-wrap {
  padding: 0;
}

.verify {
  height: 300px;
  position: relative;
  .loading-blue {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    img {
      margin: 0 auto;
      height: 80px;
    }
    p {
      &:last-of-type {
        position: relative;
        bottom: 20px;
      }
    }
  }
}
