<!-- <div>
  <img-cropper class="img-cropper" #cropper [image]="imgData" [settings]="cropSettings" (onCrop)="getImage($event)"></img-cropper> -->

<!-- <img [src]="data.image" [width]="cropSettings.croppedWidth" [height]="cropSettings.croppedHeight"> -->
<!-- <div class="crop-upload">
    <button mat-raised-button color="primary">Choose File</button>
    <input id="custom-input" type="file" (change)="fileChangeListener($event)">
  </div>

  <button mat-button color="primary" class="pull-right" (click)="saveImg()">Confirm</button>
</div> -->

<div class="cropper-wrap" *ngIf="imgData.image">
  <img-cropper class="img-cropper" #cropper [image]="imgData" [settings]="cropSettings" (onCrop)="getImage($event)"></img-cropper>
  <!-- <img [src]="data.image" [width]="cropSettings.croppedWidth" [height]="cropSettings.croppedHeight"> -->
  <div class="col-xs-12 text-right cropper-button">
    <button mat-raised-button color="primary" class="new-blue" (click)="saveImg()" [disabled]="isUpload">
      <span *ngIf="!isUpload">Upload</span>
      <span *ngIf="isUpload">Uploading..</span>
    </button>
    <button mat-raised-button color="primary" class="new-blue new-grey" (click)="dialogRef.close()">Cancel</button>
  </div>
</div>
<div class="col-xs-12 cropper-wrap " *ngIf="!imgData.image">
  <div class="crop-upload">
    <div class="choose-img">
      <div class="up-block">
        <i class="material-icons">file_upload</i>
        <p class="grey">Click here to upload a profile picture from your computer</p>
      </div>
    </div>
    <input id="custom-input" type="file" (change)="fileChangeListener($event)">
  </div>
  <div class="text-right cropper-button m-0">
    <button mat-raised-button color="primary" class="new-blue new-grey" (click)="dialogRef.close()">Cancel</button>
  </div>
</div>
