<div class="container-fluid no-padding">
  <nav id="home-header" class="navbar header navbar-fixed-top blog-header" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand" [routerLink]="['/login']">
          <img src="../../assets/img/truehalf-logo-white.svg" class="img-responsive">
        </a>
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class=" nav navbar-nav navbar-content">
          <li>
            <!-- <a [routerLink]="['/login']">Login</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 no-padding bg-grey mh-100-vh">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 mt-120">
            <div class="card-wrap">
              <div class="card-shadow">
                <div class="mt-20 mb-40 text-center check-wrap">
                  <img src="../../../../assets/img/achievement.png" alt="" class="img-responsive">
                  <p class="ral-bold-18 dark-grey mt-10">Account created successfully</p>
                  <p class="robo-reg-14 light-grey ">A mail has been sent to your inbox.
                    <br>Please verify your email address to login</p>
                  <button type="button" class="btn btn-default" [routerLink]="['/login']">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
