<div class="container-fluid no-padding">
  <nav id="home-header" class="navbar header navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">

        <a class="navbar-brand" [routerLink]="['/']">
          <img src="../../../../assets/img/truehalf-logo-blue.svg" class="img-responsive">
        </a>
        <button (click)="openSideBar()" type="button" class="navbar-toggle collapsed navbar-mobile visible-xs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-right hidden-xs">
        <ul class=" nav navbar-nav navbar-content" id="nav-menu">
          <li class="">
            <a [routerLink]="['/home']">
              <span>
                <i class="icon-home"></i>
              </span>Home</a>
          </li>
          <li class="" [class.hide]="_user.getCurrentUser().subscription">
            <a [routerLink]="['/upgrade/plans','subscription']">
              <button type="button" name="button" class="btn btn-upgrade">
                <span>
                  <i class="icon-premium"></i>Upgrade to premium</span>
              </button>
            </a>
          </li>
          <li class="profile-drop">
            <a>
              <span>
                <img [src]="user.profile_pic" alt="" class="img-responsive img-rounded">
              </span>
              <!-- <span class="name-wrap">{{user.name}} -->
              <i class="icon-down-arrow"></i>
              <!-- </span> -->
            </a>
            <ul class="list-unstyled">
              <li>
                <a [routerLink]="['/settings']">Settings</a>
              </li>
              <li>
                <a [routerLink]="['/profile']">Profile</a>
              </li>
              <li>
                <a (click)="updateStatus()">Logout</a>
              </li>
            </ul>
          </li>
          <li class="visible-sm">
            <button class="navbar-toggle collapsed navbar-mobile visible-sm" (click)="openSideBar()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="white-wrap" *ngIf="data.white">

</div>
